/* !important ∫Ÿ¿Ã∏È µ  */

.chat_text_message img { display:block !important; margin-left:auto !important; margin-right:auto !important; max-height:90px !important; }
.chat_text_message img.twchimg { display:inline !important; vertical-align:text-bottom !important; height:20px !important;}


.chat_text_nickname {
    font-size: 20px !important;
    color: white !important;
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    overflow: visible !important;
    width: 70% !important;

    border-style: solid;
    border-width: 7px 7px;
    -webkit-border-image: url(https://laafaan.github.io/BrCfgs/img/hsborder.png) 46 50 stretch;
    border-image: url(https://laafaan.github.io/BrCfgs/img/hsborder.png) 46 50 fill stretch;

    -webkit-transform: translate(0,75%) !important;

    text-align:center !important;
}

.chat_text_nickname img { display:none !important; }


.chat_text_message {
    font-family: 'Jeju Gothic', serif;
    font-size: 20px !important; 
    color: white;

    max-height: 300px !important;

    padding: 4px;
    padding-top: 13px;
    background-color: rgba(255,255,255,0) !important;

    width: 90% !important;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: auto !important;
    margin-right: auto !important;

    vertical-align: middle;
    overflow: hidden;

    border-style: solid;
    border-width: 11px 10px;
    -webkit-border-image: url(https://laafaan.github.io/BrCfgs/img/hsborder.png) 46 50 stretch;
    border-image: url(https://laafaan.github.io/BrCfgs/img/hsborder.png) 46 50 fill stretch;
}

.chat_platform_twitch {
    display:none !important;
}

.chat_platform_error {
    display:none !important;
}

.chat_platform_warning {
    display:none !important;
}

.chat_platform_info {
    display:none !important;
}

.chat_platform_mixer {
    display:none !important;
}

.chat_div_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    background-repeat: repeat;
    box-shadow: 0 0px 20px 20px #333;
    content: "LaaFaan" !important;
}


.chat_text_message_sticky {
    color:white;
    width: 90%;
    height: auto;
    max-height: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
} 
