@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

body {
    background: rgba(64, 80, 80, 0.0);
}

.chat_container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.chat_wrapper {
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;

    overflow: hidden;
}

.chat_element {
    width: 250px;
    height: auto;
    max-height: 100px;

    border-radius: 3px;
    background-color: rgba(0, 0, 255, 0.5);

    vertical-align: middle;
    overflow: hidden;
}

.chat_text_nickname {
    font-family: 'Jeju Gothic', serif;
    font-size: 14px;
    color: blue;
    text-shadow: 0px 0px 4px #000000, 0px 0px 2px #000000;

    vertical-align: middle;
}

.chat_text_message {
    font-family: 'Jeju Gothic', serif;
    font-size: 16px;
    color: blue;
    text-shadow: 0px 0px 4px #000000, 0px 0px 2px #000000,
    -1px -1px 0 #404040, /* stroke test */ 1px -1px 0 #404040,
    -1px 1px 0 #404040,
    1px 1px 0 #404040;

    width: 90%;
    height: auto;
    max-height: 75px;

    border-radius: 1px 5px 5px 5px;
    background-color: rgba(0, 255, 0, 0.25);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 15px;

    vertical-align: middle;
    overflow: hidden;
}

.chat_platform_twitch {
    width: 16px;
    margin-right: 5px;
    content: url('./img/icon_twitch_small.png');
    vertical-align: middle;
}

.chat_platform_youtube {
    width: 16px;
    margin-right: 5px;
    content: url('./img/icon_youtube_small.png');
    vertical-align: middle;
}

.chat_platform_tvpot {
    width: 16px;
    margin-right: 5px;
    content: url('./img/icon_tvpot_small.png');
    vertical-align: middle;
}

.chat_platform_none {
    width: 16px;
    margin-right: 20px;
    vertical-align: middle;
}


.chat_platform_error {
    width: 16px;
    margin-right: 5px;
    content: url('./img/icon_error_small.png');
    vertical-align: middle;
}

.chat_platform_warning {
    width: 16px;
    margin-right: 5px;
    content: url('./img/icon_warning_small.png');
    vertical-align: middle;
}

.chat_platform_info {
    width: 16px;
    margin-right: 5px;
    content: url('./img/icon_info_small.png');
    vertical-align: middle;
}

.chat_platform_mixer {
    width: 16px;
    margin-right: 5px;
    content: url('./img/icon_mixer_small.png');
    vertical-align: middle;
}

.chat_div_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    background-repeat: repeat;
    box-shadow: 0 0px 20px 20px #333;
}

.fixed_chat {
    position: fixed;
    top: 0;
    left: 0;
	width: 100%;
    background-color: #333;
    background-repeat: repeat;
    box-shadow: 0 0px 20px 20px #333;
    z-index:9999;
}

.fixed_chat .chat_text_message {
    max-height: 100px;
}

.chat_text_message_sticky {
    color:blue;
    width: 90%;
    height: auto;
    max-height: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
} 

.chat_text_message_sticky_logo {
    font-size: 12px !important;
    font-family: Consolas !important;
    text-align: center;
    color: blue;
    width: 180px;
    height: auto;
    max-height: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
} 

span.logo pre {
    transform: scale(0.55,1);
    font-size: 12px !important;
    font-family: Consolas !important;
    text-align: center;
    color: blue;
    width: 100%;
    margin-left: -50px;
    vertical-align: middle;
} 

span.tapiclogo pre {
    font-size: 12px !important;
    font-family: Consolas !important;
    color: blue;
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
    vertical-align: middle;
} 

span.tapicversionstring pre {
    margin-top: -30px;
}

span.backslash {
    font-size:12px !important;
    font-family:Consolas !important;
}