/* !important ∫Ÿ¿Ã∏È µ  */


.chat_text_message img { display:block !important; margin-left:auto !important; margin-right:auto !important; max-height:90px !important; }
.chat_text_messgae img .twchimg { display:inline !important; }


.chat_text_nickname {
    font-family: 'Arial', serif;
    font-size: 14px;
    color: #FF0000 !important;

    vertical-align: middle;
}


.chat_text_message {
    font-family: 'Jeju Gothic', serif;
    font-size: 50px !important;
    color: white;
    text-shadow: 0px 0px 4px #000000, 0px 0px 2px #000000,
    -1px -1px 0 #404040, /* stroke test */ 1px -1px 0 #404040,
    -1px 1px 0 #404040,
    1px 1px 0 #404040;

    width: 90%;
    height: auto;
    max-height: 300px !important;

    border-radius: 1px 5px 5px 5px;
    background-color: rgba(0, 255, 0, 0.25);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 15px;

    vertical-align: middle;
    overflow: hidden;
}

.chat_platform_twitch {
    display:none !important;
}

.chat_platform_error {
    display:none !important;
}

.chat_platform_warning {
    display:none !important;
}

.chat_platform_info {
    display:none !important;
}

.chat_platform_mixer {
    display:none !important;
}

.chat_div_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    background-repeat: repeat;
    box-shadow: 0 0px 20px 20px #333;
    content: "LaaFaan" !important;
}


.chat_text_message_sticky {
    color:white;
    width: 90%;
    height: auto;
    max-height: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
} 
