/* !important 붙이면 됨 */
body { background-color:rgba(55,55,55,0.2) !important; }

.chat_text_message img { display:block !important; margin-left:auto !important; margin-right:auto !important; max-height:90px !important; }
.chat_text_message img.twchimg { display:inline !important; vertical-align:text-bottom !important;}


.chat_text_nickname {
    font-size: 26px !important;
    color: white !important;
    width: 97% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    overflow: visible !important;
    text-shadow: 2px 2px 1px #000000, 0px 0px 2px #000000 !important;
    height: 15px !important;
}

.chat_text_nickname img { display:none !important; }


.chat_text_message {
    font-family: 'Jeju Gothic', serif;
    font-size: 26px !important; /* 적절한 사이즈임(트위치 이모티콘과) */
    color: white;

    max-height: 300px !important;

    border-radius: 5px 5px 5px 5px !important;
    background-color: rgba(56, 255, 56, 0.4) !important;
    padding: 5px;

    width: 97% !important;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto !important;
    margin-right: auto !important;

    vertical-align: middle;
    overflow: hidden;
}

.chat_platform_twitch {
    display:none !important;
}

.chat_platform_error {
    display:none !important;
}

.chat_platform_warning {
    display:none !important;
}

.chat_platform_info {
    display:none !important;
}

.chat_platform_mixer {
    display:none !important;
}

.chat_div_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    background-repeat: repeat;
    box-shadow: 0 0px 20px 20px #333;
    content: "LaaFaan" !important;
}


.chat_text_message_sticky {
    color:white;
    width: 90%;
    height: auto;
    max-height: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
} 
