/* !important 붙이면 됨 */
/* body { background-color:rgba(55,55,55,0.2) !important; } */

.chat_text_message img { display:block !important; margin-left:auto !important; margin-right:auto !important; height:130px !important; }
.chat_text_message img.twchimg { display:inline !important; vertical-align:text-bottom !important; height:initial !important; }


.chat_text_nickname {
    font-size: 19px !important;
    font-weight: bold !important;
    color: #222222 !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    overflow: visible !important;
    text-shadow: 0px 0px 0px !important;
    border-radius: 0px !important;
    background-color: rgba(200, 200, 200, 0.6) !important;
    border-width: 0px !important;
    padding: 2px !important;
    text-align:center !important;
    vertical-align: middle;
    
}

.chat_text_nickname img { display:none !important; }


.chat_text_message {
    font-family: 'Jeju Gothic', serif;
    font-size: 26px !important; /* 적절한 사이즈임(트위치 이모티콘과) */
    color: #DEDEDE !important;

    max-height: 300px !important;

    border-width: 0px !important;
    border-style: solid !important;
    border-radius: 0px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 3px;

    width: 100% !important;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto !important;
    margin-right: auto !important;

    vertical-align: middle;
    overflow: hidden;
}

.chat_platform_twitch {
    display:none !important;
}

.chat_platform_error {
    display:none !important;
}

.chat_platform_warning {
    display:none !important;
}

.chat_platform_info {
    display:none !important;
}

.chat_platform_mixer {
    display:none !important;
}

.chat_div_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    background-repeat: repeat;
    box-shadow: 0 0px 20px 20px #333;
    content: "LaaFaan" !important;
}


.chat_text_message_sticky {
    color:white;
    width: 90%;
    height: auto;
    max-height: 200px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
} 
